<p id="notice"><%= notice %></p>

<p>
  <strong>Id recipe:</strong>
  <%= @list.id_recipe %>
</p>

<p>
  <strong>Id ingredient:</strong>
  <%= @list.id_ingredient %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @list.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @list.unit %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
