<p id="notice"><%= notice %></p>

<h1>Listing Preparation Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preparation_types.each do |preparation_type| %>
      <tr>
        <td><%= preparation_type.name %></td>
        <td><%= link_to 'Show', preparation_type %></td>
        <td><%= link_to 'Edit', edit_preparation_type_path(preparation_type) %></td>
        <td><%= link_to 'Destroy', preparation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preparation type', new_preparation_type_path %>
